.hero {
  width: 100%;
  padding: 30px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  @media (max-width: 1024px) {
  }

  &__inner {
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;

    @media (max-width: 992px) {
      flex-direction: column;
      text-align: center;
      gap: 3rem;
    }
  }

  &__content {
    flex: 1.2;
    z-index: 2;
  }

  &__title {
    font-size: clamp(2.5rem, 5vw, 4rem);
    line-height: 1.1;
    font-weight: 500;
    color: var(--text-primary);
    margin-bottom: 1.5rem;
    letter-spacing: -0.02em;
  }

  &__highlight {
    display: inline-block;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__desc {
    font-size: 1.25rem;
    line-height: 1.7;
    color: var(--text-secondary);
    margin-bottom: 2.5rem;
    max-width: 560px;

    @media (max-width: 992px) {
      margin: 0 auto 2.5rem;
    }
  }

  &__spacer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 768px) {
      justify-content: center;
      align-items: center;

    }
  }

  &__actions {
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 380px;
    width: 100%;

    @media (max-width: 992px) {
      justify-content: center;
    }
  }

  &__imageWrapper {
    position: relative;
    flex: 1;
    aspect-ratio: 1 / 1;
    max-width: 600px;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.08);

    @media (max-width: 768px) {
      display: none;

    }
  }

  &__image {
    object-fit: cover;
    transition: transform 1.2s ease;
  }

  &__imageWrapper:hover &__image {
    transform: scale(1.04);
  }

  &__default {
    .hero__inner {
      flex-direction: row;
    }
  }

  &__reverse {
    .hero__inner {
      flex-direction: row-reverse;
    }
  }
}
