.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageWrapper {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1.5rem;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondary-color);
  line-height: 1.3;
}

.description {
  margin: 0;
  color: var(--text-secondary);
  font-size: 1rem;
  line-height: 1.6;
  flex-grow: 1;
}
